In [4]:
import pandas as pd
import numpy as np

In [5]:
path = "development.csv"
df = pd.read_csv(path)

df.head()

,Id,source,title,article,page_rank,timestamp,label
0,0,AllAfrica.com,OPEC Boosts Nigeria&#39;s Oil Revenue By .82m Bpd,THE Organisation of Petroleum Exporting Countr...,5,2004-09-16 22:39:53,5
1,1,Xinhua,Yearender: Mideast peace roadmap reaches dead-...,Looking back at the major events that took pla...,5,2004-12-17 19:01:14,0
2,2,Yahoo,Battleground Dispatches for Oct. 5 \\n (CQP...,CQPolitics.com - Here are today's Battleground...,5,2006-10-05 18:42:29,0
3,3,BBC,Air best to resuscitate newborns,Air rather than oxygen should be used to resus...,5,0000-00-00 00:00:00,0
4,4,Yahoo,High tech German train crash kills at least on...,"<p><a href=""http://us.rd.yahoo.com/dailynews/r...",5,2006-09-22 17:28:57,0

In [ ]:
df = df[["title", "article", "label"]]
df.head()

for now we are using only title, article and label. but first, we also have to handle the missing NaN texts because machine learning models cannot handle Nan texts

In [8]:
df["title"] = df["title"].fillna("")
df["article"] = df["article"].fillna("")

with this method, if the title and article is missing, we replace it with empty string. this will help avoid crashes later

We will also merge the text fields for the models
we create a new column "text" = title and article

In [9]:
df["text"] = df["title"] + " " + df["article"]
df[["text", "label"]].head()

                                                text  label
0  OPEC Boosts Nigeria&#39;s Oil Revenue By .82m ...      5
1  Yearender: Mideast peace roadmap reaches dead-...      0
2  Battleground Dispatches for Oct. 5 \\n    (CQP...      0
3  Air best to resuscitate newborns Air rather th...      0
4  High tech German train crash kills at least on...      0

we also have to define X and y. X is the input which the model leaves and y is the the output which the model has to predict. X is a text and y is its correct class. We should note that the number of rows sohuld match. (the shape)

In [10]:
X = df["text"]      
y = df["label"]     

print(X.shape)
print(y.shape)

(79997,)
(79997,)

We should convert the texts into numbers. We will use TF-IDF for the conversion. We have to import it rom sklearn

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer

Words should become numbers and teach article should become numeric vectors. 
fit_transform  learns te vocabulary and transforms text

In [13]:
vectorizer = TfidfVectorizer(
    lowercase=True,
    stop_words="english",
    max_features=20000
)

X_tfidf = vectorizer.fit_transform(X)

X_tfidf

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 1943641 stored elements and shape (79997, 20000)>

So, we must test the data before training. We will give %80 of the data for training and %20 for validation.
we will use strarify=y for to keep the class balance

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_val, y_train, y_val = train_test_split(
    X_tfidf,
    y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

To sum up:
df: our raw data
text: title + article combined for later numericalization
X: our input text
y: labels
X_tfidf: numeric version of the text
X_train: our training data
X_val: validation data